global
    maxconn 8192
    nbthread 1

defaults
    mode tcp
    no log
    option dontlognull
    retries 0
    timeout connect 1s
    timeout client 2s
    timeout server 2s
    timeout queue 2s

frontend fraud_front
    bind *:9999
    default_backend fraud_back

backend fraud_back
    balance roundrobin
    default-server maxconn 3000
    server api1 /var/run/rinha/api1.sock
    server api2 /var/run/rinha/api2.sock
